<p id="notice"><%= notice %></p>


 <% @pitch_types = [["FA", "Fast Ball"], ["FF", "Four-Seam Fast Ball"], ["FT", "Two-Seam Fast Ball"], ["FC", "Fast Cutter"], ["FS", "Fast Ball Sinker"], ["SI", "Sinker"], ["SL", "Slider"], ["CH", "Changeup"], ["CU", "Curve Ball"], ["KC", "Knuckle-Curve"], ["KB", "Knuckleball"], ["EP", "Eephus"]] %>

<center>
<h1>Pitch Distribution</h1>
<form id="matchup_form">
  <p>
  <select id="pitchers">
      <option value="choose_pitcher">Choose A Pitcher</option>
      <% Player.pitchers.sort_by{|id| Player.find_by(player_id: id).last}.each do |pitcher| %>
        <option value="<%=pitcher%>"> <%= "#{Player.find_by(player_id: pitcher).first} #{Player.find_by(player_id: pitcher).last}" %> </option> %>
      <% end %>
    </select>
  </p>
  <div>
    <% @pitch_types.each do |type| %>
      <%= check_box_tag type[1], type[0], {class: "pitch_type_checkbox", checked: false} %>
      <%= type[1] %>
    <% end %>
  </div>
</form>


<!-- create container element for visualization -->
<span id="pitch_type_list">
</span>
<span id="viz"></span></center>
<!-- load D3js -->
<script src="http://www.d3plus.org/js/d3.js"></script>

<!-- load D3plus after D3js -->
<script src="http://www.d3plus.org/js/d3plus.js"></script>

<%= javascript_include_tag "pitch_distribution" %>