<p id="notice"><%= notice %></p>


 <% @pitch_types = [["FA", "Fast Ball"], ["FF", "Four-Seam Fast Ball"], ["FT", "Two-Seam Fast Ball"], ["FC", "Fast Cutter"], ["FS", "Fast Ball Sinker"], ["SI", "Sinker"], ["SL", "Slider"], ["CH", "Changeup"], ["CU", "Curve Ball"], ["KC", "Knuckle-Curve"], ["KB", "Knuckleball"], ["EP", "Eephus"]] %>

<center>
<h1>Pitch Distribution</h1>
<form id="pitches_form">
  <p>
  <select id="pitchers">
      <option value="choose_pitcher">Choose A Pitcher</option>
      <% Player.pitchers.sort_by{|id| Player.find_by(player_id: id).last}.each do |pitcher| %>
        <option value="<%=pitcher%>"> <%= "#{Player.find_by(player_id: pitcher).first} #{Player.find_by(player_id: pitcher).last}" %> </option> %>
      <% end %>
    </select>
  </p>
  <div>
    <% @pitch_types.each do |type| %>
      <%= check_box_tag type[1], type[0], {class: "pitch_type_checkbox", checked: false} %>
      <%= type[1] %>
    <% end %>
  </div>
</form>

</center>

<!-- create container element for visualization -->
<div>
  <span id="pitch_type_list"></span>
  <span id="viz"></span>
<!-- load D3js -->
</div>



<%= javascript_include_tag "pitch_distribution" %>