<!DOCTYPE html>
<html>
<head>
  <title>MlbScraper</title>
  <%= javascript_include_tag 'jquery.min' %>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://rawgit.com/gka/d3-jetpack/master/d3-jetpack.js"></script>
    <style type="text/css">
    body { font-family: 'Helvetica Neue', Helvetica; font-weight: 300; padding: 20px;}
    th { text-align: left; }
    th.center, td.center { text-align: center; }
    th.num, td.num { text-align: right; }
    </style>  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render "layouts/navbar"%>
<%= yield %>
  
</body>
</html>
